/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Open-Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", cursive;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
strong {
  font-weight: bold;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
a:visited {
  text-decoration: none;
}
.fa {
  font-size: 2rem;
}
.fa-home {
  font-size: 5rem;
}
.container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .container {
    max-width: 1000px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.top-bg {
  background-image: linear-gradient(#00bfff, #87cefa);
  padding: 1% 0%;
  margin-bottom: 2%;
}
.top-bg header {
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .top-bg header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.top-bg header .logo h1 {
  color: white;
}
.top-bg header .logo h1:hover {
  opacity: 0.5;
}
@media (min-width: 500px) {
  .top-bg header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
.top-bg header nav a {
  color: #fff;
}
.top-bg header nav a:hover {
  opacity: 0.5;
}
@media (min-width: 500px) {
  .top-bg header nav a {
    padding: 0% 35px;
  }
}
@media (min-width: 500px) {
  .top-bg .top-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
.top-bg .top-right a {
  color: #fff;
}
.top-bg .top-right a:hover {
  opacity: 0.5;
}
@media (min-width: 500px) {
  .top-bg .top-right a {
    padding: 0% 10px;
  }
}
.headline-bg {
  background-color: #fff;
}
.headline-bg .headline {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
}
.description-bg {
  background-color: #f6f9fc;
}
.description-bg .description {
  max-width: 50%;
  padding: 2% 0%;
  margin: 0 auto;
}
.description-bg .description ul li.long {
  width: 60%;
}
.description-bg .description .sign-up-form {
  width: 120px;
  text-align: center;
  padding: 1.5% 0%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2rem;
  background-color: pink;
  border-radius: 5px;
}
.description-bg .description .sign-up-form a:hover {
  opacity: 0.5;
}
.steps-bg {
  background-color: #e9f6fe;
  padding: 2% 0%;
}
.steps-bg .steps {
  width: 65%;
}
.steps-bg .steps ul {
  text-align: -webkit-right;
}
.steps-bg .steps ul li {
  font-size: 1.5rem;
  opacity: 0.8;
  padding: 2% 0%;
  line-height: 1.8rem;
}
.why-bg {
  background-color: #f6f9fc;
  border-bottom: 2px solid rgba(207, 215, 223, 0.25);
}
@media (min-width: 500px) {
  .why-bg .why {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 500px) {
  .why-bg .why ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.why-bg .why ul li {
  font-size: 1.5rem;
  opacity: 0.8;
  padding: 2% 0%;
  line-height: 1.8rem;
}
.footer-bg {
  background-color: #e0eeff;
}
.footer-bg footer {
  max-width: 70%;
  padding: 2% 0%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.footer-bg footer .column {
  width: 33%;
}
.footer-bg footer .column h5 {
  padding-bottom: 2%;
  opacity: 0.5;
}
.footer-bg footer .column ul li {
  font-size: 1.5rem;
  opacity: 0.8;
  padding: 2% 0%;
  line-height: 1.8rem;
}
.footer-bg footer .column ul li a {
  opacity: 0.5;
}
.footer-bg footer .column ul li a:hover {
  opacity: 1;
}
@media (min-width: 500px) {
  .members {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 500px) {
  .members .member {
    width: 45%;
  }
}
