* {
  box-sizing: border-box;
}

body {
  background: #fff;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 62.5%;
  font-family: Camphor, Open Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

.container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  @media @desktop {
    max-width: 1000px;
    .flex(column wrap);
    .position(space-between, center);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

strong {
  font-weight: bold;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  -webkit-tap-highlight-color: transparent;
}

a:visited {
  text-decoration: none;
}

.fa {
  font-size: 2rem;
}

.fa-home {
  font-size: 5rem;
}

li {
  font-size: 1.5rem;
}

svg.dot {
  width: 10px;
  fill: #525f7f;
  &:hover {
    opacity: 0.5;
  }
}

.displayed {
  display: block;
}

.hidden {
  display: none;
}