// flex
.flex (@direction,@wrap,@justify,@align) {
  display: flex;
  flex-direction: @direction;
  flex-wrap: @wrap;
  justify-content: @justify;
  align-items: @align;
}

// display
.display (@display) {
  display: @display;
}

// box
.box (@padding,@margin) {
  padding: @padding;
  margin: @margin;
}

// dimensions
.dimensions (@width, @height) {
  width: @width;
  height: @height;
}
