// colors
@light-blue: #2E8FD1;
@dark-blue: #01295F;
@dark-white: #FFE;
@separator-color: #E3E3E5;
@black: #26262b;

// desktop min-width
@desktop: (min-width: 500px);

// keyframes 

@keyframes twiddle {
    0% {
   -webkit-transform: rotate(0deg);
  }
  50% {
     -webkit-transform: rotate(20deg);
  }
  100% {
     -webkit-transform: rotate(-20deg);
  }
  }

